 .navbar{
            background-color: black;
            border-radius: 30px;		          
        }
        .navbar ul{
            overflow: auto;
        }
        .navbar li{
            float:left;
            list-style: none; 
            margin: 13px 20px;
            
        }
        .navbar li a{
            padding: 3px 3px;
            text-decoration: none;
            color: white;
        }
        .navbar li a:hover{
            color: red
        }
        .search{
            float: right;
            color: white;
            padding: 12px 30px;
        }
        .navbar input{
            border: 2px solid black;
            border-radius: 10px;
            padding: 3px 12px;
            width: 100px;
        }
		
		.topnav-right{
		
			float: right;
		}
		.navbar img{
			height: 25px;
		}
		
		
		
		@media only screen and (max-width:800px) {
  /* For tablets: */
  .navbar {
    width: 101.99%;
    padding: 0;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .navbar, .container {
    width: 300%;
  }
}



.box{
	width: 360px;
	height: 35px;
	margin-top: 10px;
	font-family: verdana;
	font-size: 12px;
}